@media (max-width:500px){
    #dispq{
        color: rgb(81, 81, 194);
        margin-top: 15PC;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: none;
    }
}